body {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  justify-content: center; }

#p1IHolder {
  width: 350px;
  height: 796px;
  border: 3px solid red; }

#p1Instructions {
  margin-top: 320px; }

#p2IHolder {
  width: 350px;
  height: 796px;
  border: 3px solid green; }

#p2Instructions {
  margin-top: 320px; }

#gameSpace {
  display: inline-block;
  width: 710px;
  height: 800px;
  margin: 0 auto; }

ul {
  text-align: center;
  padding: 0;
  margin: 0 auto; }

li {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
  margin: 0 auto;
  font-size: 1em; }

h4 {
  font-size: 2.2em;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle; }

h5 {
  font-size: 1em;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle; }

#panel {
  height: 160px;
  width: 700px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  align-items: center; }

.stats {
  border: 1px solid black; }

#panelLeft {
  width: 348px;
  height: 160px;
  display: flex;
  align-items: center; }

#p1Holder {
  height: 160px;
  width: 100px;
  display: table;
  overflow: hidden; }

#p1Stats {
  height: 160px;
  width: 244px;
  display: flex;
  align-items: center;
  flex-direction: column; }

#p1StoredPoints {
  height: 80px;
  width: 242px;
  display: flex;
  align-items: center;
  flex-direction: row; }

#p1StoredPointsLabel {
  height: 80px;
  width: 70px;
  display: table;
  overflow: hidden; }

.p1StoredPointsBar {
  height: 80px;
  width: 8px;
  background-color: #990000;
  font-size: 2em;
  line-height: 10vh;
  vertical-align: center; }

#p1Life {
  height: 80px;
  width: 242px;
  display: flex;
  align-items: center; }

#p1LifeLabel {
  height: 80px;
  width: 70px;
  display: table;
  overflow: hidden; }

.p1LifeBar {
  height: 80px;
  width: 168px;
  background-color: #990000; }

#panelRight {
  width: 348px;
  height: 160px;
  display: flex;
  align-items: center; }

#p2Holder {
  height: 160px;
  width: 100px;
  display: table;
  overflow: hidden; }

#p2Stats {
  height: 160px;
  width: 244px;
  display: flex;
  align-items: center;
  flex-direction: column; }

#p2StoredPoints {
  height: 80px;
  width: 242px;
  display: flex;
  align-items: center; }

#p2StoredPointsLabel {
  height: 80px;
  width: 70px;
  display: table;
  overflow: hidden; }

.p2StoredPointsBar {
  height: 80px;
  width: 8px;
  background-color: #004d00;
  font-size: 2em;
  line-height: 10vh; }

#p2Life {
  height: 80px;
  width: 242px;
  display: flex;
  align-items: center; }

#p2LifeLabel {
  height: 80px;
  width: 70px;
  display: table;
  overflow: hidden; }

.p2LifeBar {
  height: 80px;
  width: 168px;
  background-color: #004d00; }

#screen {
  height: 570px;
  min-height: 300px;
  width: 700px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
  background-image: url("./background_throne.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

p {
  font-size: 0.8em;
  margin: 0 auto; }

h1 {
  height: 410px;
  width: 700px;
  padding-top: 80px;
  min-height: 130px;
  margin: 0 auto;
  font-size: 3em;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0); }

.p1ActionAlert {
  background-color: rgba(255, 0, 0, 0.6);
  color: white; }

.p1ActionMildAlert {
  background-color: rgba(255, 0, 0, 0.5);
  color: white; }

.p1BackgroundActionAlert {
  background: #cc0000; }

.p2ActionAlert {
  background-color: rgba(0, 255, 0, 0.6);
  color: white; }

.p2ActionMildAlert {
  background-color: rgba(0, 255, 0, 0.5);
  color: white; }

.p2BackgroundActionAlert {
  background: #004d00; }

.fireballCollisionAlert {
  background-color: rgba(128, 0, 128, 0.5);
  color: white; }

h2 {
  font-size: 1em;
  color: white;
  margin-top: -30px; }

h3 {
  font-size: 1em;
  color: black;
  padding: 5px;
  margin: 0;
  height: 16px; }

#bottom {
  height: 60px;
  width: 700px;
  border: 1px solid black;
  margin: 0 auto; }

.p1 {
  height: 80px;
  width: 70px;
  position: absolute;
  top: 50vh;
  left: 20px;
  z-index: 200;
  background-image: url("./ken.png");
  margin: 0 auto; }

.p2 {
  height: 80px;
  width: 70px;
  position: absolute;
  top: 50vh;
  left: 620px;
  background-image: url("./ken.png");
  z-index: 200; }

.p1Ball {
  height: 80px;
  width: 70px;
  background-image: url("./ken.png");
  position: absolute;
  z-index: -200; }

.p2Ball {
  height: 80px;
  width: 70px;
  background-image: url("./ken.png");
  position: absolute;
  z-index: -200; }

.p2BarAlert {
  background-color: black;
  color: white; }

.h1Alert {
  color: white; }

.walkingRight {
  animation: walkingRight 0.4s steps(5) infinite; }

@keyframes walkingRight {
  from {
    background-position: 0px -240px; }
  to {
    background-position: -350px -240px; } }
.walkingLeft {
  animation: walkingLeft 0.4s steps(4) infinite; }

@keyframes walkingLeft {
  from {
    background-position: -280px -240px; }
  to {
    background-position: 0px -240px; } }
.steadyRight {
  animation: steady 0.4s steps(4) infinite; }

@keyframes steady {
  from {
    background-position: 0px -80px; }
  to {
    background-position: -280px -80px; } }
.shootRight {
  animation: shootRight 0.5s steps(4) infinite; }

@keyframes shootRight {
  from {
    background-position: 0px 0px; }
  to {
    background-position: -280px 0px; } }
.jumpRight {
  animation: jumpRight 1s steps(7) infinite; }

@keyframes jumpRight {
  from {
    background-position: 0px -640px; }
  to {
    background-position: -490px -640px; } }
.hadokenRight {
  animation: hadokenRight 0.5s steps(2) infinite; }

@keyframes hadokenRight {
  from {
    background-position: 0px -320px; }
  to {
    background-position: -140px -320px; } }
.hadokenHit {
  animation: hadokenHit 0.5s steps(4) infinite; }

@keyframes hadokenHit {
  from {
    background-position: 0px -400px; }
  to {
    background-position: -280px -400px; } }
.shootRightFreeze {
  animation: shootRightFreeze 2s steps(1) infinite; }

@keyframes shootRightFreeze {
  from {
    background-position: -210px 0px; }
  to {
    background-position: -280px 0px; } }
.kenaHit {
  animation: kenaHit 0.4s steps(2) infinite; }

@keyframes kenaHit {
  from {
    background-position: -280px -560px; }
  to {
    background-position: -140px -560px; } }

/*# sourceMappingURL=style.css.map */
