html {
  text-align: center; }

body {
  display: inline-block;
  width: 710px;
  margin: 0 auto; }

ul {
  text-align: center;
  padding: 0;
  margin: 0 auto; }

li {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
  margin: 0 auto;
  font-size: 1em; }

h4 {
  font-size: 2.2em;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle; }

h5 {
  font-size: 1em;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle; }

#panel {
  height: 20vh;
  width: 700px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  align-items: center; }

.stats {
  border: 1px solid black; }

#panelLeft {
  width: 348px;
  height: 20vh;
  display: flex;
  align-items: center; }

#p1Holder {
  height: 20vh;
  width: 100px;
  display: table;
  overflow: hidden; }

#p1Stats {
  height: 20vh;
  width: 244px;
  display: flex;
  align-items: center;
  flex-direction: column; }

#p1StoredPoints {
  height: 10vh;
  width: 242px;
  display: flex;
  align-items: center;
  flex-direction: row; }

#p1StoredPointsLabel {
  height: 10vh;
  width: 70px;
  display: table;
  overflow: hidden; }

.p1StoredPointsBar {
  height: 10vh;
  width: 8px;
  background-color: #ff6666;
  font-size: 2em;
  line-height: 10vh;
  vertical-align: center; }

#p1Life {
  height: 10vh;
  width: 242px;
  display: flex;
  align-items: center; }

#p1LifeLabel {
  height: 10vh;
  width: 70px;
  display: table;
  overflow: hidden; }

.p1LifeBar {
  height: 10vh;
  width: 168px;
  background-color: #ff6666; }

#panelRight {
  width: 348px;
  height: 20vh;
  display: flex;
  align-items: center; }

#p2Holder {
  height: 20vh;
  width: 100px;
  display: table;
  overflow: hidden; }

#p2Stats {
  height: 20vh;
  width: 244px;
  display: flex;
  align-items: center;
  flex-direction: column; }

#p2StoredPoints {
  height: 10vh;
  width: 242px;
  display: flex;
  align-items: center; }

#p2StoredPointsLabel {
  height: 10vh;
  width: 70px;
  display: table;
  overflow: hidden; }

.p2StoredPointsBar {
  height: 10vh;
  width: 8px;
  background-color: #00e600;
  font-size: 2em;
  line-height: 10vh; }

#p2Life {
  height: 10vh;
  width: 242px;
  display: flex;
  align-items: center; }

#p2LifeLabel {
  height: 10vh;
  width: 70px;
  display: table;
  overflow: hidden; }

.p2LifeBar {
  height: 10vh;
  width: 168px;
  background-color: #00e600; }

#screen {
  height: 70vh;
  min-height: 300px;
  width: 700px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative; }

p {
  font-size: 0.8em;
  width: 600px;
  margin: 0 auto; }

h1 {
  height: 6vh;
  padding-top: 50px;
  min-height: 130px;
  width: 600px;
  margin: 0 auto;
  font-size: 3em;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0); }

.p1ActionAlert {
  background-color: #cc0000;
  color: white; }

.p1ActionMildAlert {
  background-color: #ffcccc;
  color: white; }

.p2ActionAlert {
  background-color: #004d00;
  color: white; }

.p2ActionMildAlert {
  background-color: #4dff4d;
  color: white; }

.fireballCollisionAlert {
  background-color: purple;
  color: white; }

h2 {
  font-size: 1em;
  color: white; }

h3 {
  font-size: 1em;
  color: black; }

#bottom {
  height: 10vh;
  width: 700px;
  border: 1px solid black;
  margin: 0 auto; }

#p1 {
  height: 20vh;
  min-height: 100px;
  width: 60px;
  position: absolute;
  top: 50vh;
  left: 20px;
  background-color: red;
  z-index: 200; }

#p2 {
  height: 20vh;
  min-height: 100px;
  width: 60px;
  position: absolute;
  top: 50vh;
  left: 620px;
  background-color: green;
  z-index: 200; }

.p1Ball {
  height: 5vh;
  width: 30px;
  background-color: maroon;
  position: absolute;
  z-index: -200; }

.p2Ball {
  height: 5vh;
  width: 30px;
  background-color: #003400;
  position: absolute;
  z-index: -200; }

.p2BarAlert {
  background-color: black;
  color: white; }

/*# sourceMappingURL=style.css.map */
