html {
  text-align: center;
}

body {
  display:inline-block;
  width:100vw;
  max-width: 700px;
  margin: 0 auto;
}

ul {
  text-align: center;
  padding:0;
  margin: 0 auto;
}

li {
  display: inline-block;
  list-style-type: none;
  padding:1vw;
  margin:0 auto;
  font-size: 1em;
}

#panel {
  height:20vh;
  width:95vw;
  max-width: 700px;
  border:1px solid black;
  margin: 0 auto;
  display:flex;
  align-items: center;
}

#screen {
  height:70vh;
  min-height:300px;
  width:95vw;
  max-width: 700px;
  border:1px solid black;
  margin: 0 auto;
  position:relative;

}

p {
  font-size: 0.8em;
  width:80vw;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  height:6vh;
  padding-top: 50px;
  min-height: 130px;
  width:80vw;
  max-width: 600px;
  margin: 0 auto;
  font-size: 3em;
  color: rgba(255,255,255,0);
  background-color: rgba(255,255,255,0);
}

.p1ActionAlert {
  background-color: darken(red,10%);
  color:white;
}

.p1ActionMildAlert {
  background-color: lighten(red,40%);
  color:white;
}

.p2ActionAlert {
  background-color: darken(green,10%);
  color:white;
}

.p2ActionMildAlert {
  background-color: lighten(green,40%);
  color:white;
}

.fireballCollisionAlert {
  background-color: purple;
  color:white;
}

h2 {
  font-size: 1em;
  color: white;
}

h3 {
  font-size: 1em;
  color: black;
}

#bottom {
  height:10vh;
  width:95vw;
  max-width: 700px;
  border:1px solid black;
  margin: 0 auto;
}

#p1 {
  height:20vh;
  min-height:100px;
  width:10vw;
  max-width: 75px;
  position:absolute;
  top:50vh;
  left: 20px;
  background-color: red;
  z-index: 200;
}

#p2 {
  height:20vh;
  min-height:100px;
  width:10vw;
  max-width: 75px;
  position:absolute;
  top:50vh;
  left: 610px;
  background-color: green;
  z-index: 200;
}

.p1Ball {
  height:5vh;
  width:3vw;
  background-color: darken(red,25%);
  position:absolute;
  z-index:-200;
}

.p2Ball {
  height:5vh;
  width:3vw;
  background-color: darken(green,15%);
  position:absolute;
  z-index:-200;
}
